server:
  port: 8080
  servlet:
    session:
      cookie:
        same-site: lax  # Allows cookies between 5173 and 8080
        secure: false   # Required because you are using http://, not https://
        http-only: true
spring:
  datasource:
    url: jdbc:mysql://localhost:3307/sms_uop?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:0911}
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME:chamudithakarunarathna06@gmail.com}
    password: ${EMAIL_PASSWORD:gcqrioheknzznslh}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:228864121662-lg2ck9733msgvk8jpog53i22h02tvk8a.apps.googleusercontent.com}
            client-secret: ${GOOGLE_CLIENT_SECRET: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}
            scope:
              - email
              - profile

logging:
  level:
    lk.ac.pdn.sms: DEBUG
    org.springframework.security: DEBUG

app:
  frontend-url: ${FRONTEND_URL:http://localhost:5173}
  file-upload-dir: ${FILE_UPLOAD_DIR:./uploads}